<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	
	</head>
	
	<body>
		<footer th:fragment="footer">
			<div class="container-fluid">
				<div class="row p-5 pb-2 bg-dark text-white">
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h5 mb-3">GROUP III</p>
						<p class="text-secondary">Diseñado y construido con todo el amor del mundo por el equipo de Group III</p>
						<p class="text-secondary">Av. Manuel Belgrano N° 120</p>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h5 mb-3">Equipo</p>
						<div class="mb-2">
							<a class="text-secondary text-decoration-none" target="_blank" href="https://github.com/MaxiCarrillo">Carrillo Maximiliano Joaquín</a>
						</div>
						<div class="mb-2">
							<a class="text-secondary text-decoration-none" target="_blank" href="https://github.com/orochimeii">Maria de los Angeles Galarza</a>
						</div>
						<div class="mb-2">
							<a class="text-secondary text-decoration-none" target="_blank" href="https://github.com/CarLost2312">Gutiérrez Carlos</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h5">Redes</p>
						<div class="mb-2">
							<a class="text-secondary text-decoration-none" target="_blank" href="https://www.instagram.com/">Instagram</a>
						</div>
						<div class="mb-2">
							<a class="text-secondary text-decoration-none" target="_blank" href="https://www.facebook.com/">Facebook</a>
						</div>
						<div class="mb-2">
							<a class="text-secondary text-decoration-none" target="_blank" href="https://twitter.com/">Twitter</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h5">Sitios de interés</p>
						<div class="mb-2">
							<a class="text-secondary text-decoration-none" th:href="@{/inicio}">Inicio</a>
						</div>
					</div>
					<div class="w-100">
						<img id="logo" th:src="@{/images/Gruop3.png}" class="logo-footer float-end" width="80" height="80"/>					
					</div>
					<div class="col-xs-12 pt-4"> 
			    		<p class="text-white text-center">Copyright - Todos los derechos reservados 2022</p>
			    	</div>
				</div>
			    
			</div>
		</footer>
	</body>
</html>