<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header id="header-principal" class="bg-dark" th:fragment="header">
			<div class="container-fluid">
			    
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					   <img id="logo" th:src="@{/images/Gruop3.png}" class="logo" width="40" height="40"/>
				  <div class="container-fluid">
				    <a class="navbar-brand" th:href="@{/inicio}">Inicio</a>
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				      <span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse" id="navbarSupportedContent">
				      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				        <li class="nav-item">
				          <a class="nav-link active" th:href="@{/laborales}">Ofertas Laborales</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link active" th:href="@{/empleadores}">Empleadores</a>
				        </li>
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Cursos
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item" th:href="@{/cursos/desarrollo}">Desarrollo web</a></li>
				            <li><a class="dropdown-item" th:href="@{/cursos/ingles}">Ingles</a></li>
				            <li><hr class="dropdown-divider"></li>
				            <li><a class="dropdown-item" th:href="@{/cursos/seguridad}">Seguridad</a></li>
				            <li><a class="dropdown-item" th:href="@{/cursos/disenio}">Diseño UX/UI</a></li>
				          </ul>
				        </li>
				      </ul>
				      <form class="d-flex">
				        <input class="form-control me-2" type="search" placeholder="buscar" aria-label="Search">
				        <button class="btn btn-outline-warning" type="submit">Buscar</button>
				      </form>
				      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
						</li>
				      	<li>
				      		<a class="btn btn-warning" aria-current="page" th:href="@{/registro/empleador}">Crear cuenta</a>
				      	</li>
				      </ul>
				    </div>
			  </div>
			</nav>
			</div> 
		</header>
		
		<script th:href="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
		<script th:href="@{/webjars/popper.js/umd/popper.min.js}" type="text/javascript"></script>
		<script th:href="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
	</body>
</html>