<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<div class="formulario">
			
			<form th:action="@{/crear_oferta}" method="POST" th:object="${oferta}">
		        <div class="card">
					<div class="card-header">
						 <h4>Cree una oferta Laboral</h4>
					
					</div>
					<div class="mb-3">
						<label for="cantidadDeVacantes" class="form-label">Vacantes</label> 
						<input th:field=*{cantidadDeVacantes} type="number" class="form-control" id="cantidadDeVacantes" placeholder="000000000" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('cantidadDeVacantes')}" th:errors="*{cantidadDeVacantes}"></div>
					
					</div>
					<div class="mb-3">
						<label for="puestoRequerido" class="form-label">N° de Puestos Requeridos</label> 
						<input th:field=*{puestoRequerido}  type="text" class="form-control" id="puestoRequerido" placeholder="0000" required>								<div class="alert-danger" thif="${#fields.hasErrors('domicilio')}" therrors="*{domicilio}"></div>
					 	<div class="alert-danger" th:if="${#fields.hasErrors('puestoRequerido')}" th:errors="*{puestoRequerido}"></div>
					</div>
					<div class="mb-3">
						<label for="resumenPuesto" class="form-label">Resumen</label> 
						<input th:field=*{resumenPuesto} type="text" class="form-control" id="resumenPuesto" placeholder="" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('resumenPuesto')}" th:errors="*{resumenPuesto}"></div>
				
					</div>
					<div class="mb-3">
						<label for="disponibilidad" class="form-label">Disponibilidad Horaria</label> 
						<input th:field=*{disponibilidad} type="text" class="form-control" id="disponibilidad" placeholder="00-00" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('disponibilidad')}" th:errors="*{disponibilidad}"></div>
					
					</div>
					<div class="mb-3">
						<label for="datosContacto" class="form-label">Datos de Contacto</label> 
						<input th:field=*{datosContacto} type="text" class="form-control" id="datosContacto" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('datosContacto')}" th:errors="*{datosContacto}"></div>
				
					</div>
					<div class="mb-3">
						<label for="jornada" class="form-label">Jornada</label> 
						<input th:field=*{jornada} type="text" class="form-control" id="jornada" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('jornada')}" th:errors="*{jornada}"></div>
					
					</div>
					<div class="mb-3">
						<label for="requisitos" class="form-label">Requisitos</label> 
						<input th:field=*{requisitos} type="text" class="form-control" id="requisitos" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('requisitos')}" th:errors="*{requisitos}"></div>
			
					</div>
					<div class="mb-3">
						<label for="salario" class="form-label">Salario</label> 
						<input th:field=*{salario} type="number" class="form-control" id="salario" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('salario')}" th:errors="*{salario}"></div>
					</div>
					<div class="mb-3">
						<label for="beneficios" class="form-label">Beneficios</label> 
						<input th:field=*{beneficios} type="text" class="form-control" id="beneficios" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('beneficios')}" th:errors="*{beneficios}"></div>
					
					</div>
					<div class="mb-3">
						<label for="disponible" class="form-label">Disponible</label> 
						<input th:field=*{disponible} type="text" class="form-control" id="disponible" required>
						<div class="alert-danger" th:if="${#fields.hasErrors('disponible')}" th:errors="*{disponible}"></div>
				
					</div>
					<div class="mb-3" sec:authorize="!isAuthenticated()"> 
						<input th:field='sec:authentication="name"' type="hidden" class="form-control" id="empleador">
					</div>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<button class="btn btn-primary me-md-2" type="submit">Enviar</button>
						 <a th:href="@{/inicio}" id="cancel" class="btn btn-secondary">Cancelar</a>
		  				<!-- <button class="btn btn-secondary" type="reset">Cancelar</button> -->
					</div>
				</div>
			</form>
		</div>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	</body>
</html>