<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	 <meta charset="UTF-8"> 
		
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		
		<div class="container">
		<!-- inicia carousel -->
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/images/empresa1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/empresa2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/empresa1.jpg" alt="Third slide">
    </div>
  </div>
</div>
		<p class="text-left">Left aligned text on all viewport sizes.</p>
<p class="text-center">Center aligned text on all viewport sizes.</p>
<p class="text-right">Right aligned text on all viewport sizes.</p>
		<section id="cursos">
			<ol>
				<li><a href="idiomas.html" target="_blank">Idiomas</a></li>
				<li><a href="#">Diseño</a></li>
				<li><a href="#">Desarrollo</a></li>
				<li><a href="#">Marketing</a></li>
				<li><a href="#">Conferencias</a></li>
			</ol>		
		</section>
		
		</div>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	</body>
</html>