<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	 <meta charset="UTF-8"> 
		
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<div >
			<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
				<div class="carousel-inner">
				    <div class="carousel-item active">
				    	<img th:src="@{/images/inicio.png}" class="d-block w-100">
				      	<div class="carousel-caption d-none d-md-block">
				      		<p class="text-light">Apreta aca abajo para crear tu cuenta</p>
				       		<a class="btn btn-outline-light" th:href="@{/empleador/registro}">Crear cuenta</a>
				      	</div>
				    </div>
				    <div class="carousel-item">
				      	<img th:src="@{/images/inicio2.png}" class="d-block w-100">
				      	<div class="carousel-caption d-none d-md-block">
				      		<p class="text-light">Apreta aca abajo para iniciar sesión</p>
				        	<a class="btn btn-outline-light" th:href="@{/login/empleador}">Iniciar sesión</a>
				      	</div>
				    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
			  	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>
		</div>
		<br>
		<div class="container pt-5">
			<h1 class="text-center">¡Bienvenido!</h1>
			<h4 class="text-center pt-5 mb-5">Queremos compartir y dar esta oportunidad con vos, podes encontrar tu trabajo ideal o bien dar la posibilidad a alguien de obtener el trabajo de sus sueños.</h4>
			<br>
			<div class="card mb-5" style="max-width: 1368px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img th:src="@{/images/empresa3.jpg}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">¡Postulate en varios puestos!</h5>
							<p class="card-text">Tenes la posibilidad de postularte en distintos puestos de trabajo para así aumentar la chance de ser contratado en alguna.</p>
							<p class="card-text"><small class="text-muted">Group III</small></p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="card mb-5" style="max-width: 1368px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img th:src="@{/images/empresa1.jpg}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">¡Busca tus empleados!</h5>
							<p class="card-text">Ahora con nuestrá página para vos va a ser más facil encontrar a un empleado con las cualidades que buscas.</p>
							<p class="card-text"><small class="text-muted">Group III</small></p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="card mb-5" style="max-width: 1368px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img th:src="@{/images/empresa2.jpg}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">¡Todo más sencillo!</h5>
							<p class="card-text">Nuestra página facilita el trabajo de encontrar y ofrecer un empleo, solo tenes que registrarte y empezar.</p>
							<p class="card-text"><small class="text-muted">Group III</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<br>
		<div class="accordion container pt-5" id="accordionExample">
			<h3 class="text-center">Preguntas Frecuentes</h3>
			<br>
		  <div class="accordion-item">
		    <h2 class="accordion-header" id="headingOne">
		      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		        ¿Quiénes somos?
		      </button>
		    </h2>
		    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
		      <div class="accordion-body">
		        <strong>Nosotros somos GROUP III.</strong> Una empresa con la idea de mejorar el trabajo, ya sea consiguiendolos u ofreciendolos. Una pagina <code>totalmente gratuita</code>, asi que esto es lo que somos, esto es GROUP III.
		      </div>
		    </div>
		  </div>
		  <div class="accordion-item">
		    <h2 class="accordion-header" id="headingTwo">
		      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		        ¿Cómo empiezo?
		      </button>
		    </h2>
		    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
		      <div class="accordion-body">
		        <strong>¡Registrate!</strong> Lo principal es que te registres, podes hacerlo como ciudadano o como un empleador, si sos un ciudadano tenes las opciones de crear un curriculum, postularte y anortarte a diversos cursos. Si sos un empleador podes ofrecer ofertas laborales y ver entre los postulantes a estas ofertas para contratar.
		      </div>
		    </div>
		  </div>
		  <div class="accordion-item">
		    <h2 class="accordion-header" id="headingThree">
		      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		        ¿Es gratuito?
		      </button>
		    </h2>
		    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
		      <div class="accordion-body">
		        <strong>¡Sí!</strong> Como ya mencionamos la pagina es sin fines de lucro, totalmente gratuita de <code>todas formas podes ayudarnos</code>, compartiendo la pagina nosotros vamos a seguir creciendo y esa es nuestra forma de lucrar.
		      </div>
		    </div>
		  </div>
		</div>
		<br>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	</body>
</html>