<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8">
		<title>Lista de Ofertas</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<div class="container">
			<br>
			<p class="h4 mb-10">Ofertas Laborales</p>
			<br>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end" sec:authorize="hasAuthority('EMPLEADOR')">
				<form class="d-flex" th:action="@{/crear_oferta}">
					<button class="btn btn-warning">Nueva oferta</button>
				</form>
			</div><br>
			<div class="col-12 d-flex justify-content-center">
				<table class="table table-striped table-hover">
						<tr>
							<th>Puesto</th>
							<th>Jornada</th>
							<th>Requisitos</th>
							<th>Salario</th>
							<th>Opciones</th>
						</tr>	
						<tr th:each="oferta: ${ofertas}">
							<td ><a class="active" th:href="@{${'/oferta/'+oferta.id}}" th:text="${oferta.puestoRequerido}"></a></td>
							<td th:text="${oferta.jornada}"></td>
							<td th:text="${oferta.requisitos}"></td>
							<td th:text="'$'+${oferta.salario}"></td>
							<td sec:authorize="hasAuthority('EMPLEADOR')">
								<a th:href="@{${'/oferta/editar/'+oferta.id}}" class="btn btn-sm btn-outline-warning">Editar</a>
					      		<a th:href="@{${'/oferta/eliminar/'+oferta.id}}" class="btn btn-sm btn-outline-danger">Eliminar</a>
							</td>
							<td sec:authorize="hasAuthority('CIUDADANO')">
								<a th:href="@{${'/oferta/postular/'+oferta.id}}" class="btn btn-sm btn-outline-primary">Postular</a>
							</td>
						</tr>
					</table>
				<br><br>
			</div>
		</div>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	</body>
</html>