<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Registro</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<br>
		<div class="container col-4">
			<ul class="list-group list-group-horizontal justify-content-center">
			  <li class="list-group-item"><a class="nav-link active" aria-current="page" th:href="@{/empleador/registro}">Registrarse como Empleador</a></li>
			  <li class="list-group-item"><a class="nav-link active" aria-current="page" th:href="@{/ciudadano/registro}">Registrarse como Ciudadano</a></li>
			</ul>
			<br>
			<p class="h4">Registrarse como ciudadano</p>
			<br>
	
			<form th:action="@{/ciudadano/registro}" method="POST" th:object="${ciudadano}">
			
				<div class="mb-3">
					<label for="dni" class="form-label">DNI</label> 
					<input th:field="*{dni}" type="number" class="form-control" id="dni" placeholder="000000000" required>
				</div>
				<div class="mb-3">
					<label for="numeroDeTramite" class="form-label">Numero de tramite</label> 
					<input th:field="*{numeroDeTramite}" type="number" class="form-control" id="numeroDeTramite" required>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label> 
					<input th:field="*{email}"  type="email" class="form-control" id="razonSocial" placeholder="suemail@mail.com" required>
				</div>
				<div class="mb-3">
					<label for="estadoCivil" class="form-label">Estado civil</label> 
					<input th:field="*{estadoCivil}" type="text" class="form-control" id="estadoCivil" placeholder="Soltero" required>
				</div>
				<div class="mb-3">
					<label for="privincia" class="form-label">Provincia</label> 
					<input th:field="*{privincia}" type="text" class="form-control" id="privincia" required>
				</div>
				<div class="mb-3">
					<label for="telefono" class="form-label">Teléfono</label> 
					<input th:field="*{telefono}" type="tel" class="form-control" id="telefono" required>
				</div>
				<div class="mb-3">
					<label for="fechaDeNacimiento" class="form-label">Fecha de nacimiento</label> 
					<input th:field="*{fechaDeNacimiento}" type="date" class="form-control" id="fechaDeNacimiento">
				</div>
				<div class="mb-3">
					<label for="contrasenia" class="form-label">Contraseña</label> 
					<input th:field="*{contrasenia}" type="password" class="form-control" id="contrasenia" placeholder="********" required>
				</div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Enviar</button>
					 <a th:href="@{/inicio}" id="cancel" name="cancel" class="btn btn-secondary">Cancelar</a>
	  				<!-- <button class="btn btn-secondary" type="reset">Cancelar</button> -->
				</div>
			</form>
		</div>
		</br></br>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	
	
	</body>
</html>