<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<div class="card mb-3">
			<div class="card-body" th:object="${oferta}">
				<h5 class="card-title" th:text="${oferta.puestoRequerido}"></h5>
		        <p class="card-text" th:text=${oferta.cantidadDeVacantes}> Vacantes disponibles</p>
		        <br>
		        <p class="card-text" th:text=${oferta.resumenPuesto}></p>
		        <br>
		        <p class="card-text" th:text=${oferta.requisitos}></p>
		        <br>
		        <p class="card-text" th:text=${oferta.jornada}></p>
		        <br>
		        <p class="card-text" th:text=${oferta.disponibilidad}></p>
		        <br>
		        <p class="card-text" th:text=${oferta.salario}></p>
		        <br>
		        <p class="card-text" th:text=${oferta.beneficios}></p>
		        <br>
			</div>
			<div sec:authorize="hasAuthority('EMPLEADOR')">
				<a th:href="@{${'/oferta/editar/'+oferta.id}}" class="btn btn-sm btn-outline-warning">Editar</a>
	      		<a th:href="@{${'/oferta/eliminar/'+oferta.id}}" class="btn btn-sm btn-outline-danger">Eliminar</a>
			</div>
			<div sec:authorize="hasAuthority('CIUDADANO')">
				<a th:href="@{${'/oferta/postular/'+oferta.id}}" class="btn btn-sm btn-outline-primary">Postular</a>
			</div>
		</div>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	</body>
</html>